.input:focus {
    outline: none;
}

.input {
    outline: none;
    width: 320px;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #D1D1D1;
}

.inputWrapper {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    color: red;
}
