.App {
    --header_height: 60px;
}

body,html {
    font-family: 'Montserrat' !important ;
}

.hw {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid #D9D9D9;
    padding: 30px;
}

.hwTitle {
    max-width: 1280px;
    margin: 50px auto;
    font-weight: 600;
    font-size: 22px;
}